---
layout: blank
permalink: /assessment
title: 
description: 
class: assessment
---

<div
  data-controller="nav reveal normalise-height"
  data-reveal-hidden-class="open"
  data-action="normalise:height->nav#setHeight">
  <div class="nav-container" data-normalise-height-target="item">
    <nav
      class="navbar nav-overlay"
      data-aos-anchor=".navbar-aos"
      data-aos="navbar-aos"
      data-aos-anchor-placement="bottom-bottom"
      data-reveal-target="item"
    >
      <div class="container">
        <div class="d-flex justify-content-between">
          {% include svg/stripe-partner-badge.svg %}

          <a href="/contact-us/" data-nav-target="item" class="nav-link">
            Talk to us
          </a>
        </div>
      </div>
    </nav>
  </div>
</div>

<section class="bg-white">
  <div class="section-stripe-partner container pt-5">
    <div class="row">
      <div class="col-12">
        <div class="card shadow rounded-4" data-controller="assessment">
          <div class="card-header bg-white">
            <ul class="nav nav-pills card-header-pills" id="section-tab" role="tablist">
              {% for section in site.data.assessment %}
                {% assign class = '' %}
                {% if forloop.index == 1 %}
                  {% assign class = 'show active' %}
                {% endif %}
                <li class="nav-item" role="presentation">
                  <span
                    aria-controls="pills-{{ forloop.index }}" 
                    aria-selected="true" 
                    class="nav-link {{ class }}" 
                    data-assessment-target="section"
                    data-bs-toggle="pill" 
                    data-bs-target="#pills-{{ forloop.index }}" 
                    id="pills-{{ forloop.index }}-tab" 
                    role="tab">
                    {{ section.tab }}
                  </span>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="card-body tab-content" id="section-tabContent">
            {% for section in site.data.assessment %}
              {% assign class = '' %}
              {% if forloop.index == 1 %}
                {% assign class = 'show active' %}
              {% endif %}
              <div 
                class="tab-pane fade {{ class }}" 
                id="pills-{{ forloop.index }}" 
                role="tabpanel" 
                aria-labelledby="pills-{{ forloop.index }}-tab" 
                data-assessment-target="content">
                <h5 class="card-title">{{ section.title }}</h5>
                <p class="card-text">{{ section.description }}</p>
                <ul class="nav nav-pills nav-fill card-header-pills" id="question-tab" role="tablist">
                  {% for question in section.questions %}
                    {% assign class = '' %}
                    {% if forloop.index == 1 %}
                      {% assign class = 'show active' %}
                    {% endif %}
                    <li class="nav-item" role="presentation">
                      <span
                        aria-controls="question-{{ forloop.parentloop.index }}-{{ forloop.index }}" 
                        aria-selected="true" 
                        class="nav-link {{ class }} border rounded-4" 
                        data-assessment-target="question"
                        data-bs-toggle="pill" 
                        data-bs-target="#question-{{ forloop.parentloop.index }}-{{ forloop.index }}" 
                        id="question-{{ forloop.parentloop.index }}-{{ forloop.index }}-tab" 
                        role="tab">
                        <i class="fa fa-{{ question.icon }}"></i>
                        <p>{{ question.name }}</p>
                      </span>
                    </li>
                  {% endfor %}
                </ul>
                <div class="card-body tab-content" id="question-tabContent">
                  {% for question in section.questions %}
                    {% assign class = '' %}
                    {% if forloop.index == 1 %}
                      {% assign class = 'show active' %}
                    {% endif %}
                    <div 
                      class="tab-pane fade {{ class }}" 
                      id="question-{{ forloop.parentloop.index }}-{{ forloop.index }}" 
                      role="tabpanel" 
                      aria-labelledby="question-{{ forloop.parentloop.index }}-{{ forloop.index }}-tab" 
                      data-assessment-target="content">
                      <h6>{{ question.content }}</h6>
                      {% for answer in question.answers %}
                        <div 
                          class="col p-2 border" 
                          data-action="click->assessment#select({{ question.weight }}, 'we_really_suck')">
                          <p>{{ answer.we_really_suck }}</p>
                        </div>
                        <div 
                          class="col p-2 border" 
                          data-action="click->assessment#select({{ question.weight }}, 'reliable')">
                          <p>{{ answer.reliable }}</p>
                        </div>
                        <div 
                          class="col p-2 border" 
                          data-action="click->assessment#select({{ question.weight }}, 'efficient')">
                          <p>{{ answer.efficient }}</p>
                        </div>
                        <div 
                          class="col p-2 border" 
                          data-action="click->assessment#select({{ question.weight }}, 'responsive')">
                          <p>{{ answer.responsive }}</p>
                        </div>
                        <div 
                          class="col p-2 border"
                          data-action="click->assessment#select({{ question.weight }}, 'agile')">
                          <p>{{ answer.agile }}</p>
                        </div>
                      {% endfor %}
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>    
  </div>
</section>
