---
layout: assessment
permalink: /assessment
title: 
description: 
class: assessment
sitemap: false
---
<div data-controller="assessment">
  {% include assessment/header.html %}
  {% include assessment/modal.html %}

  <section class="bg-gray-100">
    <div class="container pt-5">
      <div class="row">
        <div class="col-12">
          <div class="card shadow rounded-4">
            <div class="card-body d-flex flex-column flex-sm-row p-5">
              <div class="d-flex flex-column w-75">
                <small class="text-purple pb-4">5 minute quiz</small>
                <h2 class="card-title pb-4">
                  Identifying where your product stands to unlock potential with stripe products
                </h2>
                <p class="card-text pb-4">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel natus aut sequi expedita blanditiis eum fugit voluptas facilis, iusto nulla, similique consequatur recusandae itaque reprehenderit placeat et corrupti rerum eligendi?
                </p>
                <div class="d-flex">
                  <a
                    class="btn btn-purple rounded-pill"
                    href="/assessment/current?q=1">
                    Start now 
                    <i class="fa fa-chevron-right"></i>
                  </a>
                </div>
              </div>
              <img
                class="img-fluid ps-5"
                src="/assets/images/stripe/device.png"
                width="300"
              />
            </div>
            <img
                class="bg-stripe img-fluid position-absolute fixed-bottom"
                src="/assets/images/stripe/bg.png"
              />
          </div>
        </div>
      </div>    
    </div>
  </section>
</div>