---
layout: default
permalink: /portfolio/
title: Our Porfolio
description: It isn’t just good design, or a good user experience.  Great digital products come about when these blend together.
redirect_from:
  - /portfolio
---

<section id="section-portfolio-list" class="bg-portfolio-list">
  <div class="container">
    <h1 class="default-padding">Portfolio</h1>
    <div
      data-controller="macy"
      data-macy-columns-lg-value="2"
      data-macy-columns-md-value="1">
      {% for slug in site.data.portfolio.order %}
        {% assign pages = site.pages | where:'slug', slug %}
        {% for page in pages %}
          <div
            id="section-card-{{ page.title | downcase | replace: ' ', '-' }}"
            class="ga-section card mb-1"
          >
            <a
              href="{{ page.dir }}"
              class="portfolio-tile bg-gray bg-{{ page.theme }} text-black"
            >
              <div class="content mb-2">
                <h2 class="text-{{ page.theme }}">{{ page.title }}</h2>
                <p class="my-4 tagline">{{ page.tagline }}</p>
                <p>{{ page.description }}</p>
              </div>
              <div class="svg-container">
                <div class="svg-wrapper">
                  {% include svg/preview-left.svg title=page.title images=page.images %}
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</section>
