<div
  data-controller="carousel"
  data-carousel-random-value="true"
  data-carousel-count-value="6">
  <div class="swiper-wrapper">
    {% for slug in site.data.portfolio.order %}
      {% assign pages = site.pages | where:"slug", slug %}
      {% for page in pages %}
        {% assign image = page.images | where: "type", "desktop" | first %}
        <div class="swiper-slide" data-carousel-target="slide">
          <div class="card-group">
            <div class="card">
              <div class="swiper-img rounded-3 shadow-sm border border-light">
                <img src="{{ image.path }}" class="img-fluid" />
              </div>
              <div class="card-body px-1">
                <h4 class="card-title">{{ page.title }}</h4>
                <p class="card-text">{{ page.tagline }}</p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</div>
