<div
  class="row row-cols-1 row-cols-md-3 g-4"
  data-controller="normalise-height"
>
  {% for item in page.plans %}
  <div class="col px-4 pt-2 card-plan">
    <section>
      <header
        class="d-flex flex-column justify-content-between mb-4"
        data-normalise-height-target="item"
      >
        <div class="mb-2">
          <h4>{{ item.title }}</h4>
          <p>{{ item.body }}</p>
        </div>
        <div class="mb-2">
          {% if item.price %}
          <div class="d-flex align-items-center mb-1">
            <h3 class="fw-light me-2">{{ item.price }}</h3>
            <span>per month</span>
          </div>
          <p class="small text-black-50 mb-4">Pause or cancel anytime</p>
          <a class="btn btn-lg btn-primary rounded-pill" href="{{ item.link }}">
            Get Started
          </a>
          {% else %}
          <a
            class="btn btn-lg btn-primary rounded-pill typeform-share"
            href="{{ item.link }}"
            data-mode="popup"
            target="_blank"
          >
            Book a call
          </a>
          {% endif %}
        </div>
      </header>
      <footer class="dashed-list">
        <h5 class="mb-4">What's included</h5>
        <ul class="dashed-green">
          {% for item in item.includes %}
          <li class="mb-3">{{ item }}</li>
          {% endfor %}
        </ul>
      </footer>
    </section>
  </div>
  {% endfor %}
</div>
