<section
  id="cta-panel"
  data-ga-trigger="visibility"
  class="section default-padding"
>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <p class="h1">Ready to get started?</p>
        <p class="my-5 subheading">Let's start a conversation</p>
        <a
          href="/contact-us"
          class="btn btn-primary btn-lg rounded-pill"
          ga-trigger="click"
        >
          Contact Us
        </a>
      </div>
    </div>
  </div>
</section>
