{% assign images = include.images | where: "type", "gallery" %}
<div data-controller="slick" data-slick-style-value="gallery">
  <div class="row gallery-tiles">
    {% for image in images %}
    <div class="col-12">
      <a
        href="{{ image.path }}"
        class="gallery-img"
        data-bs-toggle="modal"
        data-bs-target="#gallery-modal"
        data-slick-index="{{ forloop.index | minus: 1 }}"
        data-action="click->slick#slideTo">
        <img
          src="{{ image.path }}"
          class="img-fluid"
          alt="Red Ant - {{ include.alt_attr }}" />
      </a>
    </div>
    {% endfor %}
  </div>

  <div
    id="gallery-modal"
    class="modal fade"
    role="dialog"
    tabindex="-1"
    aria-labelledby="gallery-modal"
    aria-hidden="true"
    data-bs-backdrop="static">
    <div
      class="modal-dialog"
      role="document"
      data-action="shown.bs.modal->slick#slideTo">
      <div class="modal-content">
        <div class="modal-header mb-3">
          <button
            type="button"
            class="btn-close btn-close-white text-lg"
            data-bs-dismiss="modal"
            aria-label="Close">
          </button>
        </div>
        <section data-slick-target="slider">
          {% for image in images %}
          <div class="slide">
            <img
              class="d-block img-fluid"
              src="{{ image.path }}"
              alt="Red Ant - {{ include.alt_attr }}" />
            <h5 class="text-center mt-3">{{ image.title }}</h5>
          </div>
          {% endfor %}
        </section>
      </div>
    </div>
  </div>
</div>
