<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% seo %}
  <meta
    name="google-site-verification"
    content="uky3VJEeD3NAFHIK0V4KLdxlYF7fGGXJYyyt96LLe78"
  />
  <link rel="icon" href="/assets/images/favicon.ico" />
  <link rel="stylesheet" href="/assets/stylesheets/main.css" />
  <script src="/assets/bundle/index.js"></script>
  <script
    src="https://kit.fontawesome.com/7809694789.js"
    crossorigin="anonymous"
  ></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
    rel="stylesheet"
  />
  {% if site.gtm %}
    {% include gtm.html %}
  {% endif %}
  {% if page.path contains '_posts' %}
    <link
      rel="amphtml"
      href="{{ page.id | prepend: '/amp' | prepend: site.baseurl | prepend: site.url | append: '.html' }}"
    />
  {% endif %}
  <script>
    if (!(window.fetch&&window.Promise&&[].includes&&Object.assign&&window.Map)) {
      document.write('<script src="https://cdn.polyfill.io/v3/polyfill.min.js?features=default,fetch"></scr'+'ipt>')
    }
  </script>
</head>
