<section
  id="section-testimonials"
  class="default-padding bg-{{ include.colour }}"
  data-ga-trigger="visibility"
  data-controller="carousel"
  data-carousel-is-normalised-value="true">
  <div class="container">
    <h3 class="mb-4">
      Testimonials
    </h3>
    <div
      id="testimonial-carousel"
      class="carousel carousel-dark slide col-lg-9"
      data-bs-ride="carousel">
      <div class="carousel-inner mb-4">
        {% for testimonial in site.data.testimonials %}
          <div
            class="carousel-item {% if forloop.first %}active{% endif %}"
            data-carousel-target="item">
            <p>"{{ testimonial.quote }}"</p>
            <p class="small">{{ testimonial.author }}</p>
          </div>
        {% endfor %}
      </div>
      <div class="carousel-indicators position-relative justify-content-start m-0">
        {% for testimonial in site.data.testimonials %}
          <button
            type="button"
            class="{% if forloop.first %}active{% endif %}"
            aria-current="{% if forloop.first %}active{% endif %}"
            data-bs-target="#testimonial-carousel"
            data-bs-slide-to="{{ forloop.index | minus: 1 }}"
            aria-label="{{ testimonial.author }}">
         </button>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
