---
layout: default
permalink: /on-demand/design-ux/
title: Unlimited, award winning Design and UX
description: UX and Design work when you need it. A design UX subscription replaces unreliable freelancers with a dedicated, experienced team. You only need to pay for when you need.
author: Ben Still
typeform: true
faqs:
  - q: Is it really unlimited? Or are you just saying that and meaning something else?
    a: |
      Yes! Once subscribed, you're able to add as many requests to your queue as you'd like. We’ll work on those tasks one after another. Once we finish one, we’ll start on the next.

      No! We’re not some kind of AI bot or weird offshore freelance group. We won’t use words like “revert” to mean something that it actually doesn’t. Our team are all based in Australia (except for Casey, who is in Thailand because Covid)

  - q: Can I really get as much work as I can?
    a: |
      Yep! For a subscription we don't charge per project or hour worked. You put your tasks into a Trello queue, we’ll work with you to prioritise that queue. We’ll work on one task at a time.

      If you’ve got a bigger project in mind, you might be interested in our project based engagements.

  - q: So really - I pay one low fixed fee and I get as much work as I want?
    a: |
      Pretty much. The limit is that for each subscription, we’re only working on one task at a time. Each task needs to be tested and accepted before the next begins. So if you have a bigger project with a looming timeline, engaging with us on a project basis might make more sense. But we’ll let you know if we think that would work better for you.

  - q: How long does it take?
    a: |
      Typically, a task will take a few days. But sometimes you might want to revise, change your mind, or the task might be a bit more complex.

      Each task is different - one landing page might be a few days, while if you need a large clickable prototype we’ll need a bit more time.

  - q: Can I make one single request which is actually lots of different things?
    a: |
      You can. You can put as much as you’d like into the queue. But we then need to break those requests up into separate tasks, so we can actually work on them.

  - q: Who are you guys?
    a: |
      We’re an experienced team of designers and developers, based in Sydney Australia. We’ve been around for over 25 years, and have worked on everything from tiny to massive projects.

      Our designs and UX are informed by deep technical know how. If you’re looking for a team that you can start with an idea, and we’ll work with you to polish it to awesome, we’re your guys. If you prefer the “I talk, you do” style of working together, and you prefer to use uppercase in all communication, then maybe we’re not. Give it a go and see if this works for you.

  - q: What programs do you work in?
    a: |
      Depending on the type of work and infrastructure, we’ll use some kind of code editor (each engineer has a preference) and a testing pipeline to confirm our tests are working and any change hasn’t broken existing code. Specifics for each technical stack really depends on what’s already there and your project's requirements. Except if you want everything in an Access db. We can’t do that.

  - q: OK, so how do I actually get a task done?
    a: |
      Well, the first step is to define a brief. Write something down. Make sure it makes sense and clearly explains what you’re after. Include relevant examples or context. We don’t need War and Peace.

      As part of your subscription, you’ll get your own Trello board. Stick in your brief, and this becomes a task in your Backlog. We’ll then review, and ask any clarifying questions or more information. We might need to break a large request into several smaller tasks.

      Once this is ready to go, drag the task into your Active swimlane. You can only have one at a time.

      When the work is done, the files will be attached to the ticket or in a code repository as appropriate, and the ticket will move into the approved swimlane.

  - q: What if the work is terrible and I hate it?
    a: |
      We’ll keep on working until you’re happy.

  - q: Is there a contract or a commitment?
    a: |
      We do have a basic service contract, which covers things like who owns the IP (you do) and disclosure (we agree not to share any of your private stuff). But the agreement is very flexible - you’re free to pause or cancel at any time.

      If we change our pricing, then that’s the price for the next month.

  - q: What if I start, but then change my mind. Can I get a full refund?
    a: |
      Sure - if you change your mind and we haven’t started on working together, then we’ll organise a refund straight away. If we’ve already started working and then you pause or cancel, you won’t get charged for the next month.

  - q: What kind of stuff can I get you to do?
    a: |
      Start with the brief or problem, and we can refine the idea from there. We work in open source technologies, so if there’s a particular commercial platform you need development done for, let us know and we’ll get back to you asap. If it’s not something we can help with, we’ll let you know and see if we can line up a separate resource to help you out.

  - q: What kind of things don’t you do?
    a: |
      There are a few things that are outside our area of specialisation - a tool which isn't well documented, or VB scripts to power your Excel. But it is tricky thing to have a definitive list- say for example you wanted drone footage of the inside of a submarine to loop on your landing page, this would not be something we just have lying around. If you log a brief that has something we don’t do, we’ll let you know if we can find a separate resource that can be utilised to do that kind of work.

  - q: Once I’m done, how do I pause or cancel?
    a: |
      Easy - just log in and pause or cancel your subscription

images:
  - type: gallery
    title: Sydney Trains
    description: A complex data visualisation tool to model different scenarios for Sydney's rail network
    path: /assets/webpack/sydney-trains-1.0b75712f8732988881b3.jpg
  - type: gallery
    title: Managed
    description: A payment and management platform for rental property
    path: /assets/images/redant-office/redant-office-1.jpg
  - type: gallery
    title: OMA Automated Proposal Platform
    description: An automated proposal booking platform for Australia’s largest outdoor advertising networks
    path: /assets/webpack/outdoor-automated-proposal-platform-1.f68bfb938f8884cd523a.jpg
  - type: gallery
    title: Huggies
    description: Parent focussed web site for Huggies brand in Australia & NZ
    path: /assets/webpack/huggies-2.27435380f66e1a43eb12.jpg
  - type: gallery
    title: Voome
    description: Health and fitness program
    path: /assets/webpack/voome-programs-1.3f4ae4d1363af99f6dbf.jpg
  - type: gallery
    title: 12WBT
    description: Health and fitness program
    path: /assets/webpack/voome-programs-1.3f4ae4d1363af99f6dbf.jpg
  - type: gallery
    title: Pearsons
    description: Ecommerce and fulfillment optimisation
    path: /assets/webpack/voome-programs-1.3f4ae4d1363af99f6dbf.jpg
---

<header class="bg-on-demand default-padding pb-2">
  <div class="container mb-4">
    <div class="row">
      <div class="col-10 offset-1 text-center">
        <h1 class="mb-4">
          Experienced Ruby development. Low monthly fixed cost. Access our team
          on demand to help you scale.
        </h1>
        <p class="subheading mb-4">
          Work with us on your terms. Pay as a subscription, cancel any time
        </p>
        <p>
          <a
            href="#plans"
            class="btn btn-lg btn-primary rounded-pill"
            data-controller="scroll-to"
            data-scroll-to-offset-value="80"
          >
            See Plans
          </a>
        </p>
      </div>
    </div>
  </div>

  <div
    id="portfolio-carousel"
    class="carousel slide"
    data-controller="carousel"
    data-bs-ride="carousel"
    data-carousel-slides-value="3"
  >
    <div class="carousel-inner" role="listbox">
      {% assign images = page.images | where: "type", "gallery" %} {% for image
      in images %}
      <div
        class="card-group carousel-item {% if forloop.first %}active{% endif %}"
        data-carousel-target="item"
      >
        <div class="card mx-2">
          <img src="{{ image.path }}" class="card-img-top rounded-3" />
          <div class="card-body px-1">
            <h4 class="card-title">{{ image.title }}</h4>
            <p class="card-text">{{ image.description }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <button
      type="button"
      class="carousel-control-prev"
      data-bs-target="#portfolio-carousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      type="button"
      class="carousel-control-next"
      data-bs-target="#portfolio-carousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</header>

<section class="default-padding bg-gray-light">
  <div class="container text-center">
    <div class="row">
      <div class="col-12 mb-4">
        <h2 class="mb-4">How it works</h2>
      </div>
      <div class="col-3">
        <img
          src="https://via.placeholder.com/110"
          class="rounded-circle mb-4"
        />
        <p>
          Add your work requests. We’ll ask questions, and work with you to
          establish scope.
        </p>
      </div>
      <div class="col-3">
        <img
          src="https://via.placeholder.com/110"
          class="rounded-circle mb-4"
        />
        <p>
          We work with you to prioritise tasks and issues, picking the best one
          to start work on.
        </p>
      </div>
      <div class="col-3">
        <img
          src="https://via.placeholder.com/110"
          class="rounded-circle mb-4"
        />
        <p>Once you’re happy with the task, we’ll start work straight away.</p>
      </div>
      <div class="col-3">
        <img
          src="https://via.placeholder.com/110"
          class="rounded-circle mb-4"
        />
        <p>We’ll revise the work until you’re 100% happy.</p>
      </div>
    </div>
  </div>
</section>

<section class="default-padding bg-green bg-green-img text-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2 class="h1 mb-4">
          Top notch Back end Ruby development, when you need it
        </h2>
      </div>
      <div class="col-10 offset-1">
        <p class="subheading mb-4">
          A Ruby development subscription replaces unreliable freelancers with a
          dedicated, experienced team. That you only need to pay for when you
          need.
        </p>
        <p>
          <a
            href="#plans"
            class="btn btn-lg btn-primary rounded-pill"
            data-controller="scroll-to"
            data-scroll-to-offset-value="80"
          >
            See Plans
          </a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="default-padding bg-white">
  <div class="container text-center">
    <div class="row">
      <div class="col-12 mb-4">
        <h2 class="mb-4">Benefits</h2>
      </div>
      <div class="col-4">
        <img
          src="https://via.placeholder.com/110"
          class="rounded-circle mb-4"
        />
        <p>
          <strong>Unlimited requests. Unlimited revisions</strong>
        </p>
      </div>
      <div class="col-4">
        <img
          src="https://via.placeholder.com/110"
          class="rounded-circle mb-4"
        />
        <p>
          <strong>Fixed monthly rate</strong>
        </p>
      </div>
      <div class="col-4">
        <img
          src="https://via.placeholder.com/110"
          class="rounded-circle mb-4"
        />
        <p>
          <strong>Flexible. Pause at any time</strong>
        </p>
      </div>
      <div class="col-4">
        <img
          src="https://via.placeholder.com/110"
          class="rounded-circle mb-4"
        />
        <p>
          <strong>Experience & quality</strong><br />
          Highly experienced, senior designers.
        </p>
      </div>
      <div class="col-4">
        <img
          src="https://via.placeholder.com/110"
          class="rounded-circle mb-4"
        />
        <p>
          <strong>Technically astute</strong><br />
          Our team have both UX and Dev experience, so designs "make sense" both
          technically and from a users POV.
        </p>
      </div>
      <div class="col-4">
        <img
          src="https://via.placeholder.com/110"
          class="rounded-circle mb-4"
        />
        <p>
          <strong>Unique and yours </strong><br />
          All IP and assets are owned by you. They are unique and custom built.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="default-padding bg-gray-light">
  <div class="container">
    <div class="row">
      <div class="col-10 offset-1 text-center mb-4">
        <h2 class="mb-4">
          Landing pages, forms, javascript
          <span class="font-weight-normal">(and lots more!)</span>
        </h2>
      </div>
    </div>
    <div class="row justify-content-between">
      <ul class="col-4 list-unstyled">
        <li class="mb-3 py-3 border-2 border-dark border-bottom">
          Marketplace designs
        </li>
        <li class="mb-3 py-3 border-2 border-bottom">Landing pages</li>
        <li class="mb-3 py-3 border-2 border-bottom">Marketing emails</li>
        <li class="mb-3 py-3 border-2 border-bottom">User signup forms</li>
      </ul>
      <ul class="col-4 list-unstyled">
        <li class="mb-3 py-3 border-2 border-bottom">Theme customisations</li>
        <li class="mb-3 py-3 border-2 border-bottom">Clickable prototypes</li>
        <li class="mb-3 py-3 border-2 border-bottom">A</li>
      </ul>
      <ul class="col-4 list-unstyled">
        <li class="mb-3 py-3 border-2 border-bottom">User sign up forms</li>
        <li class="mb-3 py-3 border-2 border-bottom">Pitch decks</li>
        <li class="mb-3 py-3 border-2 border-bottom">Infographics</li>
      </ul>
    </div>
  </div>
</section>

<section id="plans" class="default-padding bg-services">
  <div class="container">
    <div class="row">
      <div class="col-10 offset-1 text-center mb-4">
        <h2 class="mb-4">Back End Ruby on Rails Developer pricing</h2>
        <p class="subheading mb-4">No hassle terms - pause or cancel anytime</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4 px-4 dashed-list border-left border-2">
        <h4>Front End developer service</h4>
        <p>For start ups and growing businesses</p>
        <h3 class="font-weight-light mb-1">$X,XXX / month</h3>
        <p class="text-black-50 mb-4">Pause or cancel anytime</p>
        <p class="mb-4">
          <a
            class="btn btn-primary btn-green rounded-pill my-2"
            href="#/ms/signup/62578012bd9cb70004d0d7af"
          >
            Get Started
          </a>
        </p>
        <h5 class="mb-4">What's included</h5>
        <ul class="dashed-green">
          <li class="mb-3">Unlimited requests</li>
          <li class="mb-3">Unlimited revisions</li>
          <li class="mb-3">All work is 100% yours</li>
          <li class="mb-3">Pause or cancel any time</li>
        </ul>
      </div>
      <div class="col-4 px-4 dashed-list border-left border-right border-2">
        <h4>FRuby Dev plus UX</h4>
        <p>For start ups and growing businesses</p>
        <h3 class="font-weight-light mb-1">$XXX / month</h3>
        <p class="text-black-50 mb-4">Pause or cancel anytime</p>
        <p class="mb-4">
          <a
            class="btn btn-primary btn-green rounded-pill my-2"
            href="#/ms/signup/6257802bf8b9740004bc0f48"
          >
            Get Started
          </a>
        </p>
        <h5 class="mb-4">What's included</h5>
        <ul class="dashed-green">
          <li class="mb-3">Unlimited requests</li>
          <li class="mb-3">Unlimited revisions</li>
          <li class="mb-3">All work is 100% yours</li>
          <li class="mb-3">Pause or cancel any time</li>
          <li class="mb-3">
            Javascript and front end development work as well
          </li>
          <li class="mb-3">Ongoing support and maintenance</li>
        </ul>
      </div>
      <div class="col-4 px-4 dashed-list border-right border-2">
        <h4>Project Based Engagement</h4>
        <p>
          Project based design and development services, where you get access to
          our full team
        </p>
        <h3 class="text-white mb-2">-</h3>
        <p class="mb-4">
          <a
            class="typeform-share btn btn-primary btn-green rounded-pill my-2"
            href="https://red-ant.typeform.com/to/qGIy4B"
            data-mode="popup"
            target="_blank"
          >
            Book a call
          </a>
        </p>
        <h5 class="mb-4">What's included</h5>
        <ul class="dashed-green">
          <li class="mb-3">Simultaneous requests</li>
          <li class="mb-3">Blend of UX, FE and BE development as required</li>
          <li class="mb-3">Projest based costs as required</li>
          <li class="mb-3">Expediated delivery</li>
          <li class="mb-3">Real time collaboration</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="default-padding bg-gray-light">
  <div class="container">{% include faqs.html %}</div>
</section>
