---
layout: default
permalink: /on-demand/frontend-javascript/
title: Unlimited, award winning Design and UX
description: UX and Design work when you need it. A design UX subscription replaces unreliable freelancers with a dedicated, experienced team. You only need to pay for when you need.
author: Ben Still
typeform: true
intercom: true

how_it_works:
  - Once you activate your subscription, you can add requests. We’ll ask questions, and work with you to establish scope.
  - We work with you to prioritise tasks, picking the best one to start work on.
  - Once you’re happy with scope, we’ll start work straight away.
  - We’ll revise the design until you’re 100% happy.

benefits:
  - title: Unlimited requests, Unlimited revisions
  - title: Fixed monthly rate
  - title: Flexible, pause at any time
  - title: Experience & quality
    body: Highly experienced, senior developers, based in Australia.
  - title: Technically astute
    body: Our developers have both UX and extensive development experience, so things "make sense" both technically and from a user's POV.
  - title: Unique and all yours
    body: All IP and assets are owned by you. They are unique and custom.

lots_more:
  - Landing pages
  - User signup forms
  - Theme customisations
  - Javascript, CSS
  - Frontend frameworks such as React, Angular or Elm
  - Page speed optimisation
  - Tracking tags and analysis tool integration
  - Converting wireframes to HTML
  - Updating content or technical updates

plans:
  - title: Frontend Development Service
    body: Frontend work as you need it done
    price: $5,800
    link: https://buy.stripe.com/00g01Y1kmg5ze1G3ce
    includes:
      - Access our frontend development team
      - Unlimited requests
      - Unlimited revisions
      - All work is 100% yours
      - Pause or cancel any time

  - title: Frontend Development Service plus UX
    body: You might want to call on a mix of both Frontend development and User Experience design
    price: $6,400
    link: https://buy.stripe.com/dR68yu7IKaLf9LqcMN
    includes:
      - All the Frontend Development features
      - UX and design work also included
      - Ongoing support and maintenance

  - title: Project based engagement
    body: Project based design and development services, where you get access to our full team
    link: https://red-ant.typeform.com/to/qGIy4B
    includes:
      - Simultaneous requests
      - Blend of UX, frontend and backend development as required
      - Project Management and tracking
      - Devops, security and proactive monitoring
      - Defined Statement of Work, with deliverables and timeframe
      - Expedited delivery
      - Real time collaboration

faqs:
  - q: Is it really unlimited? Or are you just saying that and meaning something else?
    a: |
      Yes! Once subscribed, you're able to add as many requests to your queue as you'd like. We’ll work on those tasks one after another. Once we finish one, we’ll start on the next.

      No! We’re not some kind of AI bot or weird offshore freelance group. We won’t use words like “revert” to mean something that it actually doesn’t. Our team are all based in Australia (except for Casey, who is in Thailand because Covid)

  - q: Can I really get as much work as I can?
    a: |
      Yep! For a subscription we don't charge per project or hour worked. You put your tasks into a Trello queue, we’ll work with you to prioritise that queue. We’ll work on one task at a time.

      If you’ve got a bigger project in mind, you might be interested in our project based engagements.

  - q: So really - I pay one low fixed fee and I get as much work as I want?
    a: |
      Pretty much. The limit is that for each subscription, we’re only working on one task at a time. Each task needs to be tested and accepted before the next begins. So if you have a bigger project with a looming timeline, engaging with us on a project basis might make more sense. But we’ll let you know if we think that would work better for you.

  - q: How long does it take?
    a: |
      Typically, a task will take a few days. But sometimes you might want to revise, change your mind, or the task might be a bit more complex.

      Each task is different - one landing page might be a few days, while if you need a large clickable prototype we’ll need a bit more time.

  - q: Can I make one single request which is actually lots of different things?
    a: |
      You can. You can put as much as you’d like into the queue. But we then need to break those requests up into separate tasks, so we can actually work on them.

  - q: Who are you guys?
    a: |
      We’re an experienced team of designers and developers, based in Sydney Australia. We’ve been around for over 25 years, and have worked on everything from tiny to massive projects.

      Our designs and UX are informed by deep technical know how. If you’re looking for a team that you can start with an idea, and we’ll work with you to polish it to awesome, we’re your guys. If you prefer the “I talk, you do” style of working together, and you prefer to use uppercase in all communication, then maybe we’re not. Give it a go and see if this works for you.

  - q: What programs do you work in?
    a: |
      Depending on the type of work and infrastructure, we’ll use some kind of code editor (each engineer has a preference) and a testing pipeline to confirm our tests are working and any change hasn’t broken existing code. Specifics for each technical stack really depends on what’s already there and your project's requirements. Except if you want everything in an Access db. We can’t do that.

  - q: OK, so how do I actually get a task done?
    a: |
      Well, the first step is to define a brief. Write something down. Make sure it makes sense and clearly explains what you’re after. Include relevant examples or context. We don’t need War and Peace.

      As part of your subscription, you’ll get your own Trello board. Stick in your brief, and this becomes a task in your Backlog. We’ll then review, and ask any clarifying questions or more information. We might need to break a large request into several smaller tasks.

      Once this is ready to go, drag the task into your Active swimlane. You can only have one at a time.

      When the work is done, the files will be attached to the ticket or in a code repository as appropriate, and the ticket will move into the approved swimlane.

  - q: What if the work is terrible and I hate it?
    a: |
      We’ll keep on working until you’re happy.

  - q: Is there a contract or a commitment?
    a: |
      We do have a basic service contract, which covers things like who owns the IP (you do) and disclosure (we agree not to share any of your private stuff). But the agreement is very flexible - you’re free to pause or cancel at any time.

      If we change our pricing, then that’s the price for the next month.

  - q: What if I start, but then change my mind. Can I get a full refund?
    a: |
      Sure - if you change your mind and we haven’t started on working together, then we’ll organise a refund straight away. If we’ve already started working and then you pause or cancel, you won’t get charged for the next month.

  - q: What kind of stuff can I get you to do?
    a: |
      Start with the brief or problem, and we can refine the idea from there. We work in open source technologies, so if there’s a particular commercial platform you need development done for, let us know and we’ll get back to you asap. If it’s not something we can help with, we’ll let you know and see if we can line up a separate resource to help you out.

  - q: What kind of things don’t you do?
    a: |
      There are a few things that are outside our area of specialisation - a tool which isn't well documented, or VB scripts to power your Excel. But it is tricky thing to have a definitive list- say for example you wanted drone footage of the inside of a submarine to loop on your landing page, this would not be something we just have lying around. If you log a brief that has something we don’t do, we’ll let you know if we can find a separate resource that can be utilised to do that kind of work.

  - q: Once I’m done, how do I pause or cancel?
    a: |
      Easy - just log in and pause or cancel your subscription
---

<header class="bg-on-demand-detail">
  <div class="default-padding bg-darken">
    <div class="container">
      <div class="row text-center">
        <h1 class="mb-4">
          Experienced Frontend Javascript development. Low monthly fixed cost.
          Access our team to help you scale.
        </h1>
        <p class="subheading mb-4">
          On demand. Paid as a subscription, cancel any time
        </p>
        <p>
          <a
            href="#plans"
            class="btn btn-lg btn-primary rounded-pill"
            data-controller="scroll-to"
            data-scroll-to-offset-value="80"
          >
            See Plans
          </a>
        </p>
      </div>
    </div>
  </div>

  <div class="py-5">{% include on-demand/carousel.html %}</div>
</header>

<section class="default-padding bg-gray-light">
  <div class="container text-center">
    {% include on-demand/how-it-works.html %}
  </div>
</section>

<section class="default-padding bg-green bg-green-img">
  <div class="container">
    <div class="row text-white text-center">
      <h2 class="h1 mb-4 col-lg-8 offset-lg-2">
        Frontend Javascript work when you need it
      </h2>
      <p class="subheading mb-5 col-lg-10 offset-lg-1">
        A frontend development subscription replaces unreliable freelancers or
        expensive internal staff with a dedicated, experienced team. That you
        only need to pay for when you need.
      </p>
      <p>
        <a
          href="#plans"
          class="btn btn-lg btn-primary rounded-pill"
          data-controller="scroll-to"
          data-scroll-to-offset-value="80"
        >
          See Plans
        </a>
      </p>
    </div>
  </div>
</section>

<section class="default-padding bg-white">
  <div class="container text-center">{% include on-demand/benefits.html %}</div>
</section>

<section class="default-padding bg-gray-light">
  <div class="container">
    <div class="row mb-5">
      <h2 class="text-sm-center">
        Landing pages, forms
        <span class="d-block fw-normal">(and lots more!)</span>
      </h2>
    </div>

    {% include on-demand/lots-more.html %}
  </div>
</section>

<section class="default-padding bg-white">
  <div class="container text-center">
    <div class="row mb-5">
      <h3>Some of our work</h3>
    </div>
    {% include on-demand/recent-work.html %}
  </div>
</section>

<section id="plans" class="default-padding bg-services">
  <div class="container">
    <div class="row">
      <div class="text-center mb-4">
        <h2 class="mb-4">Frontend Javascript Development Pricing</h2>
        <p class="subheading mb-4">No hassle terms - pause or cancel anytime</p>
      </div>
    </div>
    {% include on-demand/plans.html %}
  </div>
</section>

<section class="default-padding bg-gray-light">
  <div class="container">{% include on-demand/faqs.html %}</div>
</section>
