---
layout: default
permalink: /on-demand/
title: Flexible UX and Ruby development for low monthly fixed cost. Access our team on demand to help you scale
description: UX and Design work when you need it. A design UX subscription replaces unreliable freelancers with a dedicated, experienced team. You only need to pay for when you need.
author: Ben Still

how_it_works:
  - Once you activate your subscription, you can add your work requests. We’ll ask questions, and work with you to establish scope.
  - We work with you to prioritise tasks and briefs, picking the best one to start work on.
  - Once you're happy with scope, we’ll start work straight away.
  - We’ll revise the work until you're 100% happy

plans:
  - title: Design & UX
    body: A Design & UX subscription replaces unreliable freelancers or expensive internal resources with a dedicated, experienced team. That you only need to pay for when you need.
    link: /on-demand/design-ux/
  - title: Frontend Development
    body: Need Frontend, React, Javascript, HTML or CSS work? Utilise our experienced development team.
    link: /on-demand/frontend-javascript/
  - title: Ruby Backend Development
    body: Access our amazing Ruby engineering talent, and pay for it with a flexible subscription that suits your business.
    link: /on-demand/backend-ruby-on-rails/

faqs:
  - q: Is it really unlimited? Or are you just saying that and meaning something else?
    a: |
      Yes! Once subscribed, you're able to add as many requests to your queue as you'd like. We’ll work on those tasks one after another. Once we finish one, we’ll start on the next.

      No! We’re not some kind of AI bot or weird offshore freelance group. We won’t use words like “revert” to mean something that it actually doesn’t. Our dev team are all based in Australia.

  - q: Can I really get as much work as I can?
    a: |
      Yep! For a subscription we don't charge per project or hour worked. You put your tasks into a Trello queue, we’ll work with you to prioritise that queue. We’ll work on one task at a time.

      If you’ve got a bigger project in mind, you might be interested in our project based engagements.

  - q: So really - I pay one low fixed fee and I get as much work as I want?
    a: |
      Pretty much. The limit is that for each subscription, we’re only working on one task at a time. Each task needs to be tested and accepted before the next begins. So if you have a bigger project with a looming timeline, engaging with us on a project basis might make more sense. But we’ll let you know if we think that would work better for you.

  - q: How long does it take?
    a: |
      Typically, a task will take a few days. But sometimes you might want to revise, change your mind, or the task might be a bit more complex.

      Each task is different - one landing page might be a few days, while if you need a large clickable prototype we’ll need a bit more time.

  - q: Can I make one single request which is actually lots of different things?
    a: |
      You can. You can put as much as you’d like into the queue. But we then need to break those requests up into separate tasks, so we can actually work on them.

  - q: Who are you guys?
    a: |
      We’re an experienced team of designers and developers, based in Sydney Australia. We’ve been around for over 25 years, and have worked on everything from tiny to massive projects.

      Our designs and UX are informed by deep technical know how. If you’re looking for a team that you can start with an idea, and we’ll work with you to polish it to awesome, we’re your guys. If you prefer the “I talk, you do” style of working together, and you prefer to use uppercase in all communication, then maybe we’re not. Give it a go and see if this works for you.

  - q: Which design programs do you work in?
    a: |
      We use Sketch, Photoshop and Invision.

  - q: OK, so how do I actually get a design done?
    a: |
      Well, the first step is to define a brief. Write something down. Make sure it makes sense and clearly explains what you’re after. Include relevant examples or context. We don’t need War and Peace.

      As part of your subscription, you’ll get your own Trello board. Stick in your brief, and this becomes a task in your Backlog. We’ll then review, and ask any clarifying questions or more information. We might need to break a large request into several smaller tasks.

      Once this is ready to go, drag the task into your Active swimlane. You can only have one at a time.

      When the work is done, the files will be attached to the ticket or in a code repository as appropriate, and the ticket will move into the approved swimlane.

  - q: What if the design is terrible and I hate it?
    a: |
      We’ll keep on working until you’re happy.

  - q: But what if you keep on working on it and I’m still unhappy?
    a: |
      Remember, we’re designing for your users. But if you truly think we’re hopeless and don’t understand your vision and really don’t “get it”, then no hard feelings - just pause or cancel your subscription. We’ll give you all the files and any in progress work.

  - q: Is there a contract or a commitment?
    a: |
      We do have a basic service contract, which covers things like who owns the IP (you do) and disclosure (we agree not to share any of your private stuff). But the agreement is very flexible - you’re free to pause or cancel at any time.

      If we change our pricing, then that’s the price for the next month.

  - q: What if I start, but then change my mind. Can I get a full refund?
    a: |
      Sure - if you change your mind and we haven’t started on working together, then we’ll organise a refund straight away. If we’ve already started working and then you pause or cancel, you won’t get charged for the next month.

  - q: What kind of stuff can I get you to do?
    a: |
      We can do anything that is User Experience or Design related - from a single email template through to a clickable prototype of a marketplace.

      If you need development work as well, we can add on a development resource with the UX & Frontend plan, or you can take out a separate subscription for that. Or we can work together on a project basis if that makes more sense.

  - q: What kind of things don’t you do?
    a: |
      There are a few things that are outside our area of specialisation - animations, complex illustrations, and formatting in specific software such as MS Word. But it is tricky thing to have a definitive list- say for example you wanted drone footage of the inside of a submarine to loop on your landing page, this would not be something we just have lying around. If you log a brief that has something we don’t do, we’ll let you know if we can find a separate resource that can be utilised to do that kind of work.

  - q: Once I’m done, how do I pause or cancel?
    a: |
      Easy - just log in and pause or cancel your subscription
---

<header class="bg-on-demand bg-gray-light">
  <div class="bg-on-demand-header">
    <div class="container default-padding">
      <div class="row px-2">
        <div class="col-lg-7 text-center text-lg-start">
          <h1 class="mb-4">
            Low monthly fixed cost. Access our team on demand to help you scale.
            Flexible UX and development
          </h1>
          <p class="subheading">
            Work with us on your terms. Pay as a subscription, cancel any time.
          </p>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="default-padding">
  <div class="container text-center">
    {% include on-demand/how-it-works.html %}
  </div>
</section>

<section class="default-padding bg-red-light">
  <div class="container">
    <h2 class="mb-5 text-center">Available plans</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for item in page.plans %}
      <div class="col">
        <div class="card bg-transparent h-100">
          <img
            src="/assets/images/on-demand/p{{ forloop.index }}.png"
            class="card-img-top"
          />
          <div class="card-body pt-0">
            <h4 class="card-title mb-4">{{ item.title }}</h4>
            <p class="card-text">{{ item.body }}</p>
          </div>
          <div class="card-footer border-0 bg-transparent">
            <a class="btn btn-lg btn-primary rounded-pill" href="{{ item.link }}">
              See plans
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="default-padding bg-faq">
  <div class="container">{% include on-demand/faqs.html %}</div>
</section>
