---
layout: default
permalink: /on-demand/
title: Flexible UX and Ruby development for low monthly fixed cost. Access our team on demand to help you scale
description: UX and Design work when you need it. A design UX subscription replaces unreliable freelancers with a dedicated, experienced team. You only need to pay for when you need.
author: Ben Still

how_it_works:
  - Once you activate your subscription, you can add your work requests. We’ll ask questions, and work with you to establish scope.
  - We work with you to prioritise tasks and briefs, picking the best one to start work on.
  - Once you're happy with scope, we’ll start work straight away.
  - We’ll revise the work until you're 100% happy

plans:
  - title: Design & UX
    body: A Design & UX subscription replaces unreliable freelancers or expensive internal resources with a dedicated, experienced team. That you only need to pay for when you need.
    link: /on-demand/design-ux/
  - title: Native iOS app Development
    body: Need Apple iOS app development? Utilise our experienced development team.
    link: /on-demand/ios-native-swift/
  - title: Ruby Backend Development
    body: Access our amazing Ruby engineering talent, and pay for it with a flexible subscription that suits your business.
    link: /on-demand/backend-ruby-on-rails/


---

<header class="bg-on-demand bg-gray-light">
  <div class="bg-on-demand-header">
    <div class="container default-padding">
      <div class="row px-2">
        <div class="col-lg-7 text-center text-lg-start">
          <h1 class="mb-4">
            Low monthly fixed cost. Access our team on demand to help you scale.
            Flexible UX and development
          </h1>
          <p class="subheading">
            Work with us on your terms. Pay as a subscription, cancel any time.
          </p>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="default-padding">
  <div class="container text-center">
    {% include on-demand/how-it-works.html %}
  </div>
</section>

<section class="default-padding bg-red-light">
  <div class="container">
    <h2 class="mb-5 text-center">Available plans</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for item in page.plans %}
      <div class="col">
        <div class="card bg-transparent h-100">
          <img
            src="/assets/images/on-demand/p{{ forloop.index }}.png"
            class="card-img-top"
          />
          <div class="card-body pt-0">
            <h4 class="card-title mb-4">{{ item.title }}</h4>
            <p class="card-text">{{ item.body }}</p>
          </div>
          <div class="card-footer border-0 bg-transparent">
            <a class="btn btn-lg btn-primary rounded-pill" href="{{ item.link }}">
              See plans
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="default-padding bg-faq">
  <div class="container">{% include on-demand/faqs.html %}</div>
</section>
