<div class="modal fade" id="assessmentModal" tabindex="-1" aria-labelledby="assessmentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="assessmentModalLabel">Resume assessment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          You've already started filling in this assessment but didn't finish it.
        </p>
        <p>
          Would you like to resume where you left off?
        </p>
      </div>
      <div class="modal-footer">
        <a href="/assessment/current?q=1" class="btn btn-secondary" data-bs-dismiss="modal">No</a>
        <button type="button" href="" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>