<div class="row">
  {% for question in include.section.questions %}
    <div class="col">
      <a
        href="{{ include.section.slug }}?q={{ forloop.index }}"
        class="text-decoration-none">
        <div class="d-flex flex-column align-items-center justify-content-center rounded-4 bg-blue-100 py-4 text-black border border-light">
          <i class="fa fa-{{ question.icon }} pb-2"></i>
          <p class="m-0 lh-1">{{ question.title }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
<div class="card-body px-0">
  <div class="d-flex flex-column">
    {% for question in include.section.questions %}
      {% if forloop.last == true %}
        {% assign next-question-url = include.next-section %}
      {% else %}
        {% assign next-question-number = forloop.index | plus: 1 %}
        {% assign next-question-url = include.section.slug | append: "?q=" | append: next-question-number %}
      {% endif %}
      <div class="d-none" data-assessment-target="question">
        <p class="py-4 fs-4">{{ question.description }}</p>
        <div class="row flex-column">
          {% for answer in question.answers %}
            <a
              class="col p-2 flex-fill text-decoration-none"
              data-action="click->assessment#select:prevent"
              data-assessment-answer-param="{{ include.section.slug }},{{ forloop.parentloop.index }},{{ forloop.index }},{{ question.weight }}"
              data-assessment-href-param="{{ next-question-url }}">
              <div class="answer-content d-flex flex-column rounded-4 bg-blue-100 p-3 text-black border border-light">
                <p class="m-0">{{ answer }}</p>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>