<button
  class="btn btn-link text-black fs-6 fw-bold p-0 pe-3 border-0 text-decoration-none
  {% if page.permalink == '/assessment/current' %}border-gradient{% endif %}"
  data-action="click->assessment#select"
  data-assessment-href-param="{{ include.sections.current.slug }}?q=1"
  data-assessment-target="section">
  <p class="position-relative py-3 m-0">
    {{ include.sections.current.tab }}
  </p>
</button>
<button
  class="btn btn-link text-black fs-6 fw-bold p-0 pe-3 border-0 text-decoration-none opacity-25
  {% if page.permalink == '/assessment/your-team' %}border-gradient{% endif %}"
  data-action="click->assessment#select"
  data-assessment-href-param="{{ include.sections.your-team.slug }}?q=1"
  data-assessment-target="section"
  disabled>
  <p class="position-relative py-3 m-0">
    {{ include.sections.your-team.tab }}
  </p>
</button>
<button
  class="btn btn-link text-black fs-6 fw-bold p-0 pe-3 border-0 text-decoration-none opacity-25
  {% if page.permalink == '/assessment/owner' %}border-gradient{% endif %}"
  data-action="click->assessment#select"
  data-assessment-href-param="{{ include.sections.owner.slug }}?q=1"
  data-assessment-target="section"
  disabled>
  <p class="position-relative py-3 m-0">
    {{ include.sections.owner.tab }}
  </p>
</button>
<button
  class="btn btn-link text-black fs-6 fw-bold p-0 border-0 text-decoration-none opacity-25
  {% if page.permalink == '/assessment/technology' %}border-gradient{% endif %}"
  data-action="click->assessment#select"
  data-assessment-href-param="{{ include.sections.technology.slug }}?q=1"
  data-assessment-target="section"
  disabled>
  <p class="position-relative py-3 m-0">
    {{ include.sections.technology.tab }}
  </p>
</button>