<a 
  href="{{ include.sections.current.slug }}?q=1" 
  class=""
  data-assessment-target="section">
  {{ include.sections.current.tab }}
</a>
<a 
  href="{{ include.sections.your-team.slug }}?q=1" 
  class=""
  data-assessment-target="section">
  {{ include.sections.your-team.tab }}
</a>
<a 
  href="{{ include.sections.owner.slug }}?q=1" 
  class=""
  data-assessment-target="section">
  {{ include.sections.owner.tab }}
</a>
<a 
  href="{{ include.sections.technology.slug }}?q=1" 
  class=""
  data-assessment-target="section">
  {{ include.sections.technology.tab }}
</a>