.border-2 {
  border-width: 2px !important;
}

.border-light {
  border-color: $border-light !important;
}

.border-gradient {
  p:before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 3px;
    border-radius: 2px;
    background: linear-gradient(130deg,$purple-300,$purple-300 41.07%,$magenta 76.05%);
  }
}