.btn-primary,
.btn-green {
  color: $white;

  &:hover,
  &:active,
  &:focus {
    color: $white;
  }
}

.btn-green {
  background-color: $green-200;
  transition: $btn-transition;

  &:hover,
  &:active,
  &:focus {
    background-color: rgba($green-200, 0.8);
  }
}

.btn-outline-primary{
  &:hover,
  &:active,
  &:focus {
    color: $red;
  }
}

.btn-purple {
  @include button-variant($purple, $purple, $white);
}