$slick-font-path: "slick-carousel/slick/fonts/";
$slick-loader-path: "slick-carousel/slick/";

@import "slick-carousel/slick/slick";
@import "slick-carousel/slick/slick-theme";

.slick-dots {
  text-align: left;
  margin: 0 0 0 12px;

  li button::before {
    background-color: $black;
    content: "";
    height: 4px;
    width: 20px;
  }
}
