---
layout: blank
permalink: /assessment/technology
title: 
description: 
class: assessment
---

{% include assessment/header.html %}

<section class="bg-white">
  <div class="container pt-5">
    <div class="row">
      <div class="col-12">
        <div class="card shadow rounded-4" data-controller="assessment">
          <div class="card-header bg-white">
            {% include assessment/tabs.html sections = site.data.assessment2 %}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ site.data.assessment2.technology.title }}</h5>
            <p class="card-text">{{ site.data.assessment2.technology.description }}</p>
            {% include assessment/questions.html section = site.data.assessment2.technology next-section = 'result' %}
          </div>
        </div>
      </div>
    </div>    
  </div>
</section>
